.bannerWrapper {
  grid-column: 3 / -3;
  border: 1px solid #DDE4EF;
  background: #FFFFFF;
  justify-self: center;
  margin: 10px 20px;
  width: 770px;
  height: 300px;
  display: flex;
}

.detailsContainer {
  display: grid;
  grid-template-columns: repeat(12, [col] 1fr);
  width: 100%;
}

a {
  grid-column: 1 / -2;
  margin: 0;
  padding: 0;
  text-decoration: none;
  align-self: end;
}

.productName {
  margin-bottom: 27px;
  max-width: 500px;
  overflow-wrap: break-word;
  overflow: hidden;
}

@media all and (max-width: 859px) {
  .productName {
    font-size: 24px;
  }
}

@media all and (max-width: 814px) {
  .bannerWrapper {
    width: 570px;
  }
}

@media all and (max-width: 620px) {
  .bannerWrapper {
    display: none;
  }
}

.drinkImage {
  margin: 20px;
}
