.gridLayout {
  display: grid;
  grid-template-columns: repeat(12,1fr);
}

.medRow {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  width: 809px;
  justify-self: center;
}


@media all and (max-width: 814px) {
  .medRow {
    display: none;
  }
}