.gridLayout {
  display: grid;
  grid-template-columns: repeat(12,1fr);
}

.medRow,
.miniRow {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  width: 809px;
  justify-self: center;
}

@media all and (max-width: 814px) {
  .miniRow,
  .medRow {
    display: none;
  }
}

@media all and (max-width: 620px) {
  .medRow {
    display: none;
  }
  .singleCol {
    display: grid;
  }
}

@media all and (min-width: 621px) {
  .singleCol {
    display: none;
  }
}

