.navbkg {
  background: #FFFFFF;
  border-bottom: 1px solid #DDE4EF;
  margin-bottom: 10px;
}

.navbarTitleWrapper {
  display: grid;
  width: 770px;
  margin: 0 auto;
  padding: 27px 0;
  grid-template-columns: 16px auto;
}

.navLogo {
  width: 74px;
  height: 25px;
  justify-self: center;
}

.navFilter {
  width: 16px;
  height: 20px;
}

@media all and (max-width: 814px) {
  .navbarTitleWrapper {
    width: 570px;
  }
}

@media all and (max-width: 620px) {
  .navbarTitleWrapper {
    width: 100%;
  }
  .navFilter {
    margin-left :20px;
  }
}


