.background {
  background-color: #F5F8FB;
  grid-template-columns: repeat(12, [col] 1fr);
}

h1, h2 {
  color: #423C44;
  font-family: 'Lora', Georgia, 'Times New Roman', Times, serif;
}

p {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #6F6A71;
}

.pale {
  color: #9E9A9F
}

.border {
  border: 1px solid #DDE4EF
}