.mediumCardWrapper {
  border: 1px solid #DDE4EF;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
  padding: 25px 0;
  align-items: center;
  height: 385px;
  width: 375px;
}

.mediumCardWrapper:first-of-type {
  margin-right: 10px;
}

.mediumCardWrapper:last-of-type {
  margin-left: 10px;
}

.productNameWrapper__medium{
  width: 80%;
}

.productName__medium {
  align-self: end;
  margin-bottom: 24px;
  max-width: 315px;
  overflow-wrap: break-word;
  overflow: hidden;
  text-align: center;
  font-size: 24px;
}

.drinkImage__medium {
  width: 150px;
  height: 200px;
  margin: 12px;
}

@media all and (max-width: 859px) {
  .productName__medium {
    font-size: 18px;
  }

  .mediumCardWrapper {
    padding-bottom: 0px;
  }
}

@media all and (max-width: 620px) and (min-width: 460px) {
  .mediumCardWrapper {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .mediumCardWrapper:first-of-type {
    margin-top: 10px;
    margin-right: 0;
  }
  
  .mediumCardWrapper:last-of-type {
    margin-bottom: 20px;
    margin-left: 0;
  }

  .productNameWrapper__medium {
    width: 90%;
    padding: 0 20px;
  }

  .productName__medium {
    text-align: center;
    justify-self: center;
    max-width: 90%;
    padding: 0 20px;
    font-size: 24px;
  }
}

@media all and (max-width: 459px) {
  .mediumCardWrapper {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .mediumCardWrapper:first-of-type {
    margin-top: 10px;
    margin-right: 0;
  }
  
  .mediumCardWrapper:last-of-type {
    margin-bottom: 20px;
    margin-left: 0;
  }

  .productNameWrapper__medium {
    max-width: 90%;
  }
}